<div id="generate-dataset-content" class="my-4 mx-auto p-4 shadow-md rounded-md max-w-lg bg-white">
    <h1>✂️ Magic Scissors</h1>
    <p>
        Generating your dataset; this may take a few minutes.
    </p>

    <div class="mt-2 flex flex-col gap-y-2">
        {{#each steps}}
            <div>
                <span class="">
                    {{#if inProgress}}
                        <i class="far fa-fw fa-spin fa-spinner relative bottom-[0.5px]"></i>
                    {{else if completed}}
                        <i class="fas fa-fw fa-check-circle text-green-500"></i>
                    {{else if failed}}
                        <i class="fas fa-fw fa-times-circle text-red-500"></i>
                    {{else}}
                        <i class="far fa-fw fa-circle"></i>
                    {{/if}}
                </span>
                <span class="pl-[3px]">{{step}}</span>
                {{#if inProgress}}
                {{#if progress}}
                    <span class="pl-[3px]">- {{progress.percent}}% {{#if progress.total}}({{progress.current}}/{{progress.total}}){{/if}}</span>
                {{/if}}
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>